@import url(./responsive.css);

/*Title Section*/

.title-class {
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  z-index: 999;
  transition: background 1s ease;
}

.navbar-nav ul {
  background-color: ;
  position: relative;
}
.navbar-nav ul li {
  list-style: none;
  text-align: center;
}

/*Introduction*/

.introduction {
  margin-top: 11rem;
  line-height: 2rem;
  padding-bottom: 6rem;

  margin-right: 2rem;
}

.hey {
  font-size: 1.7rem;
  margin-bottom: 1.4rem;
  font-weight: 500;
}

.hey::after {
  content: '';
  height: 2.5px;
  width: 25%;
  background: black;
  display: inline-block;
  transform: translateY(-10px);
}

.job-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.devstage {
  font-size: 0.9rem;
  font-weight: 650;
  text-transform: uppercase;
}
.introduction .row h1 {
  font-size: 3.5rem;
}

.introduction button {
  margin-top: 1.5rem;
  margin-right: 1.3rem;
  width: 8rem;
  height: 3rem;
}

.introduction button:hover {
  font-weight: 900;
}

.first-intro-btn:hover {
  background-color: #fff;
  color: green;
}

.banner-img img {
  max-width: 65%;
}

/*About Section*/

#about {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#about img {
  max-width: 65%;
}

.lletter {
  color: dodgerblue;
}

#about h2 {
  letter-spacing: 0.9rem;
  line-height: 3.5rem;

  font-size: 3rem;
}

#about button {
  font-weight: 500;
  text-transform: uppercase;
}

/*Services Section*/

.service-section {
  background: rgba(248, 252, 253, 0.973);
  margin-top: 1.5rem;
  padding-top: 1.2rem;
  transition: box-shadow 0.7s ease;
}

.service-section:hover {
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

/*Project Section*/

.project-area {
}

.project-area h2 {
  margin: 3rem auto;
}

.project-area h4 {
  font-size: 1rem;
  font-weight: 800;
}

.project-area {
  font-size: 0.96rem;
}

.project-area .button-group button {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
  outline: none;
}

.project-area .button-group button:focus {
  font-weight: 1000;
}

.project-area .button-group button + button {
  padding-left: 4rem;
}

.project-area .grid .our-project .img img {
  width: 80%;
}

.project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/*Toos And Tech*/

#tools {
  margin-top: ;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.benefits-row1 {
  margin-bottom: 3rem;
}

.benefits-row2 {
  padding-bottom: 3rem;
}

.fa-4x {
  color: #0096a9;
  background-color: white;
  padding: 2.5rem;
}

#tools h3 {
  text-align: left;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 700;
}

#tools p {
  text-align: left;
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 450;
  line-height: 1.2rem;
}

#tools h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#tools .container {
  padding-top: 3rem;
}

.tools-class {
  padding-top: 3rem;
}

.lower-tools {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/*Testimonials*/

.testimonials-section h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 0;
}

.testimonials-section h3 {
  margin: 1rem auto;
  font-size: 1.2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.testimonials-section h4 {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.testimonials-section p {
  padding-bottom: 2rem;
  font-size: 0.9rem;
}

.client {
  padding: 0rem;
  margin: 2.3rem 0rem;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.client-img {
  padding: 2rem;
}

.owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.owl-carousel .owl-dots .owl-dot {
  outline-style: none;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background: #4458dc;
  width: 12px;
  height: 12px;
}

/*certifications*/

#certificate {
  text-align: center;
  margin-bottom: 4rem;
}

#certificate h2 {
  padding-bottom: 3rem;
}

.cert {
}

#cert h4 {
  font-size: 1.2rem;
  border: 2px solid white;
  font-weight: 400;
}

.cert-test {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}

.cert1 {
  margin-right: 0.5rem;
  padding: 0 1.5rem;
}

.cert2 {
  margin-left: 0.5rem;
  padding: 0 1.5rem;
}

.certin {
  margin-top: 1rem;
  text-align: right;
  padding: 0.5rem 2rem;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  transition: transform 0.7s ease;
}

.certre:hover,
.certin:hover {
  transform: scale(1.1);
  color: ;
  border-bottom: 2px solid red;
  padding-bottom: 0;
  text-align: center;
  letter-spacing: 0.01rem;
  cursor: pointer;
}
.test-popup-link1 {
  color: black;
}
.certre a:hover,
.certin a:hover {
  text-decoration: none;
}
.certre {
  margin-top: 1rem;
  transition: transform 0.7s ease;
  text-align: ;
  padding: 0.5rem 2rem;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

/*Contact Me Section*/

.form-wrapper {
  max-width: 80%;
  min-width: 300px;
  padding: 2rem 1rem 2rem 1rem;
  margin: 1rem auto;
  background-color: #ffffff;
  border-radius: 0.7rem;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.form-group {
  position: relative;
}
.form-group + .form-group {
  margin-top: ;
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out,
    -webkit-transform 150ms ease-out;
}

.focused .form-label {
  -webkit-transform: translateY(-125%);
  transform: translateY(-125%);
  font-size: 0.75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
}
.form-input:focus {
  box-shadow: 0 2px 0 0 blue;
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}

/*Socials*/

.social h5 {
  font-size: 1.5rem;
}

.social .fab {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.social .fab:hover {
  color: green;
}

.social .fa-youtube {
  color: red;
}

/*Footer*/

#footer {
  text-align: center;
}

#footer hr {
  width: 70%;
}

#footer span {
  color: red;
  font-family: cursive;
  font-weight: 800;
}
